<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biel.qmsgatherCgVn.mapper.DfUpWireFrameInkClimbingMapper">

    <resultMap id="BaseResultMap" type="com.biel.qmsgatherCgVn.domain.DfUpWireFrameInkClimbing">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="date" column="date" jdbcType="TIMESTAMP"/>
            <result property="factory" column="factory" jdbcType="VARCHAR"/>
            <result property="model" column="model" jdbcType="VARCHAR"/>
            <result property="process" column="process" jdbcType="VARCHAR"/>
            <result property="testProject" column="test_project" jdbcType="VARCHAR"/>
            <result property="longSide1" column="long_side1" jdbcType="DOUBLE"/>
            <result property="longSide2" column="long_side2" jdbcType="DOUBLE"/>
            <result property="groove" column="groove" jdbcType="DOUBLE"/>
            <result property="shortGroove" column="short_groove" jdbcType="DOUBLE"/>
            <result property="shortSide" column="short_side" jdbcType="DOUBLE"/>
            <result property="machineCode" column="machine_code" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
            <result property="batchId" column="batch_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="uploadName" column="upload_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,date,factory,
        model,process,test_project,
        long_side1,long_side2,groove,
        short_groove,short_side,machine_code,
        state,batch_id,create_time,
        upload_name
    </sql>
</mapper>
